In [1]:
import numpy as np
import pandas as pd
import collections

In [2]:
# Load the data
pd.options.display.max_columns = 40
df = pd.read_csv("Metro_Interstate_Traffic_Volume.csv")

In [3]:
# Observe top 10 observations (int)
df.head(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0

In [4]:
# Observe last 10 observations (int)
df.tail(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48194,None,283.84,0.00,0.0,75.0,Rain,proximity shower rain,2018-09-30 15:00:00,4302.0
48195,None,283.84,0.00,0.0,75.0,Drizzle,light intensity drizzle,2018-09-30 15:00:00,4302.0
48196,None,284.38,0.00,0.0,75.0,Rain,light rain,2018-09-30 16:00:00,4283.0
48197,None,284.79,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 17:00:00,4132.0
48198,None,284.20,0.25,0.0,75.0,Rain,light rain,2018-09-30 18:00:00,3947.0
48199,None,283.45,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.00,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [5]:
# Print all the columns/features names (int)
print(", ".join(df.columns))
# type(col_name)

holiday, temp, rain_1h, snow_1h, clouds_all, weather_main, weather_description, date_time, traffic_volume

In [6]:
# Q1.1 How many columns end with a vowel?
vowels = ["a", "e", "u", "i", "o"]
number_of_vowels = 0
mas_last_letter = []
for item in df.columns:
    mas_last_letter = mas_last_letter + list(item[-1])
for item in vowels:
    a = mas_last_letter.count(item)
    number_of_vowels = number_of_vowels + a
print(number_of_vowels)

2

In [7]:
# Q1.2 How many columns start with a vowel?
vowels = ["a", "e", "u", "i", "o"]
number_of_vowels = 0
mas_last_letter = []
for item in df.columns:
    mas_last_letter = mas_last_letter + list(item[0])
for item in vowels:
    a = mas_last_letter.count(item)
    number_of_vowels = number_of_vowels + a
print(number_of_vowels)

0

In [8]:
# Q1.3 Which columns are associated with the condition of weather?
columns_weather = []
columns_weather_indx = [1, 2, 3, 4, 5, 6]
for i in columns_weather_indx:
    columns_weather.append(df.columns[i])
print(columns_weather)

['temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main', 'weather_description']

In [9]:
# Q1.4 How many columns have `th` in their names?
tab = list(df.columns)
otvet = 0
# print(tab)
for item in tab:   
    sochetanie = item.find("th")
    if sochetanie != -1:
        otvet = otvet + 1
print(otvet)

2

In [10]:
# Q2.1 How many observations are in the data?
print(len(df))
# Q2.2 How many features are in the data?
print(len(df.columns))

48204
9

In [11]:
# Q3.2 How many NA values are in the `temp` column?
len(df) - df.temp.count()

1

In [12]:
# Q3.5 How many explicit NA values are in the `traffic_volume` column?
ans = len(df) - df.traffic_volume.count()
print(ans)

5

In [13]:
df.dropna(inplace=True)

In [14]:
df.describe()

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48190.000000  48190.000000  48190.000000  48190.000000    48190.000000
mean     281.201366      0.334356      0.000222     49.369267     3259.859079
std       13.337406     44.795638      0.008169     39.016127     1986.972809
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1192.250000
50%      282.440000      0.000000      0.000000     64.000000     3380.000000
75%      291.800000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [15]:
# Q4.3 How many unique values are in the `weather_description` column?
print(df.weather_description.unique().shape[0])
# Q4.5 How many unique values are in the `rain_1h` column?
print(df.rain_1h.unique().shape[0])

38
372

In [16]:
# Q5.1 For every unique `weather_main` value give its number of occurences.
print(df.weather_main.value_counts())
print()
# Q5.2 For every unique `weather_description` value give its number of occurences.
print(df.weather_description.value_counts())

Clouds          15159
Clear           13384
Mist             5950
Rain             5671
Snow             2876
Drizzle          1821
Haze             1359
Thunderstorm     1034
Fog               912
Smoke              20
Squall              4
Name: weather_main, dtype: int64

sky is clear                           11658
mist                                    5950
overcast clouds                         5081
broken clouds                           4665
scattered clouds                        3458
light rain                              3371
few clouds                              1955
light snow                              1946
Sky is Clear                            1726
moderate rain                           1664
haze                                    1359
light intensity drizzle                 1100
fog                                      912
proximity thunderstorm                   673
drizzle                                  651
heavy snow                               616
heavy intensity rain                     467
snow                                     293
proximity shower rain                    136
thunderstorm                             125
heavy intensity drizzle                   64
thunderstorm with heavy rain              63
thunderstorm with light rain              54
proximity thunderstorm with rain          52
thunderstorm with rain                    37
smoke                                     20
very heavy rain                           18
thunderstorm with light drizzle           15
light intensity shower rain               13
proximity thunderstorm with drizzle       13
light shower snow                         11
light rain and snow                        6
shower drizzle                             6
SQUALLS                                    4
sleet                                      3
thunderstorm with drizzle                  2
freezing rain                              2
shower snow                                1
Name: weather_description, dtype: int64

In [17]:
# Q6.1 What are the max, min, mean and the std of the `traffic_volume` column?
a = 'traffic_volume'

print(round(df.traffic_volume.max(), 3))
print(round(df.traffic_volume.min(), 3))
print(round(df.traffic_volume.mean(), 3))
print(round(df.traffic_volume.std(), 3))
print('\n')
# Q6.5 What are the max, min, mean and the std of the `snow_1h` column?
print(round(df.snow_1h.max(), 3))
print(round(df.snow_1h.min(), 3))
print(round(df.snow_1h.mean(), 3))
print(round(df.snow_1h.std(), 3))

7280.0
0.0
3259.859
1986.973


0.51
0.0
0.0
0.008

In [18]:
# Q7.2 How many columns have `int64` data type?
df.dtypes
print(len([a for a in df.dtypes if 'int64' == a]))
# Q7.5 What are the columns with dtype == `int64`?
list(df.select_dtypes(['int64']).columns)

0

[]

In [19]:
# Q8.1 What is the temperature of the time slot with index 777?
print(df.iloc[777]['temp'])
# Q8.2 What is the weather description of the time slot with index 999?
print(df.iloc[999]['weather_description'])

278.5
overcast clouds

In [ ]:
# Q9.3 How much is cloud coverage on the index 1045?
print(df.iloc[1045]['clouds_all'])

In [20]:
# Q9.3 How much is cloud coverage on the index 1045?
print(df.iloc[1045]['clouds_all'])
# Q9.4 What is the weather main of the time slot from index 252?
print(df.iloc[252]["weather_main"])

20.0
Clear

In [21]:
# Q10.1 How many time slots have less than 270 temperature?
print(df.loc[df.temp < 270].shape[0])
# Q10.4 How many time slots are foggy? (weather_main = Fog)
print(df.loc[df.weather_main == "Fog"].shape[0])

9308
912

In [22]:
# Q11.1 What is the traffic volume of November 20th 2016, at 20:00?
a = df.loc[df.date_time == "2016-11-20 20:00:00"].index
df.iloc[a[0]]['traffic_volume']

4269.0

In [23]:
# Q11.2 What is the amount of rain in the 70th rainy time slot (non-zero rain) of the dataset?
print(df.rain_1h[df.rain_1h > 0].iloc[70])

0.51

In [24]:
# Q12.1 What is the temperature of the tenth holiday?
dat = df.loc[df.holiday != "None"].index
print(df.iloc[dat[10]]['temp'])

277.72

In [25]:
# Q12.5 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)?
print(df.temp[df.clouds_all < 20 | np.isclose(df.clouds_all, 20)].iloc[1337])

277.06

In [26]:
# Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin) using any method above
df['temp_in_celcius'] = df['temp'] - 273.15
df.head(2)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.21

In [27]:
# Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)
df['hot'] = df['temp'] > 300
df.head(1)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False

In [28]:
# Q13.3 Create a new bool column `rainy_and_cloudy` which indicates whether it was rainy (>0.1) AND cloudy (>50)
df['rainy_and_cloudy'] = np.logical_and(df['rain_1h'] > 0.1, df['clouds_all'] > 50)  
df.head(1)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False,False

In [29]:
# Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday
df["is_holiday"] = df.holiday != "None"
df.head(1)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False,False,False

In [30]:
# Q13.5 Create a new column `traffic_cat` by splitting a `traffic_volume` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
df["traffic_cat"] = pd.qcut(df["traffic_volume"], 5, ["1", "2", "3", "4", "5"])
df.head(1)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday,traffic_cat
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False,False,False,5

In [31]:
# Q14.2 How many rainy time slots that were captured in the fall, with traffic volume more than 2000?
#list(df.date_time)
print(np.sum(
        np.logical_and(
            np.logical_and(
                df.traffic_volume > 2000,
                pd.to_datetime(df.date_time).dt.month_name().isin(["September", "October", "November"]))
            , df.weather_main == "Rain")
            )
        )

978

In [32]:
# Q14.5 How much is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky (weather_main)?
print(df.traffic_volume.iloc[np.argmax(np.logical_and(np.logical_and(
                            pd.to_datetime(df.date_time).dt.year == 2017,
                            pd.to_datetime(df.date_time).dt.month_name() == "June"), df.weather_main == "Clear"))])

736.0

In [33]:
# Q15.3 What was the traffic volume of the highest amount of snow in one hour?
df.iloc[np.argmax(df.snow_1h)].traffic_volume

5167.0

In [34]:
# Q15.4 What is the median of temperatures captured in April 2017?
np.median(df.temp[np.logical_and(
                pd.to_datetime(df.date_time).dt.month_name() == "April",
                pd.to_datetime(df.date_time).dt.year == 2017)])

282.01

In [35]:
df['rainy_and_cloudy'] = np.logical_and(df['rain_1h'] > 0.1, df['clouds_all'] > 50)
df.head(10)
# Q16.1 What is the average temperature in celcius of the time slots with rainy_and_coudy=True?
print(np.average(df.temp_in_celcius[df.rainy_and_cloudy == True]))
# Q16.2 What is the average traffic volume on holidays?
print(np.average(df.traffic_volume[df.holiday != "None"]))
# Q16.3 What is the average traffic volume on non-holidays?
print(np.average(df.traffic_volume[df.holiday == "None"]))
# Q16.4 What is the average traffic volume in the highest quantile?
print(np.average(df.traffic_volume[df.traffic_cat == "5"]))
# Q16.5 What is the average traffic volume in the lowest quantile?
print(np.average(df.traffic_volume[df.traffic_cat == "1"]))

13.584578809434692
865.4426229508197
3262.8938270065864
5870.913350649351
485.5536195809998

In [36]:
# Q17.3 Extract and store `month`
df['month'] = pd.DatetimeIndex(df['date_time']).month
# Q17.4 Extract and store `day`
df['day'] = pd.DatetimeIndex(df['date_time']).day
# df.head(10)

In [37]:
df['weekday'] = pd.DatetimeIndex(df['date_time']).weekday
df['hour'] = pd.DatetimeIndex(df['date_time']).hour
# # Q18.2 What is the weekday with the lowest traffic volume?
print(df.weekday.unique()[np.argmin([np.sum(df.traffic_volume[df.weekday == i]) for i in df.weekday.unique()])])
# df[df.weekday]['traffic_volume'].index()
# # Q18.4 What is the average traffic volume in the time period between 15-19 hours
print(df.traffic_volume[np.logical_and(df.hour >= 15, df.hour <= 19)].mean())

6
4749.295714285714

In [38]:
df.head(2)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,temp_in_celcius,hot,rainy_and_cloudy,is_holiday,traffic_cat,month,day,weekday,hour
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,15.13,False,False,False,5,10,2,1,9
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,16.21,False,False,False,4,10,2,1,10

In [39]:
# Q19.1 `traffic_by_year` groupby `year` and compute median traffic volume.
df['year'] = pd.DatetimeIndex(df['date_time']).year
traffic_by_year = df.groupby('year')
traffic_by_year['traffic_volume'].median()

year
2012    3225.0
2013    3344.0
2014    3316.0
2015    3368.0
2016    3258.5
2017    3530.0
2018    3400.0
Name: traffic_volume, dtype: float64

In [40]:
# Q19.2 `traffic_by_weekday` groupby `weekday` and compute median traffic volume.
traffic_by_weekday = df.groupby('weekday')
traffic_by_weekday['traffic_volume'].median()

weekday
0    3619.0
1    4070.0
2    4315.0
3    4280.0
4    4336.5
5    3003.0
6    2260.0
Name: traffic_volume, dtype: float64

In [41]:
# Q19.3 `temperature_by_traffic` groupby `traffic_cat` and compute average temperature in celsius.
df.traffic_cat = pd.DatetimeIndex(df.date_time).weekday
temperature_by_traffic = df.groupby('traffic_cat')
temperature_by_traffic.temp_in_celcius.mean()

traffic_cat
0    8.285184
1    8.145855
2    8.041561
3    8.107285
4    7.764044
5    8.036049
6    7.972072
Name: temp_in_celcius, dtype: float64

In [42]:
# df = df.drop(columns = ['traffic_cat'],axis = 1)
# df = df.drop(columns = ['holiday_10'],axis = 1)
# df['year'] = pd.DatetimeIndex(df['date_time']).year

In [43]:
# Q20 Separate your data into inputs and targets, keeping only relevant inputs. Drop any features computed from the output eg. `traffic_cat`
# df.drop(columns = ['holiday_10'],axis = 1)
df['year'] = pd.DatetimeIndex(df['date_time']).year
y = df["traffic_volume"].values
good_columns = ['temp', 'is_holiday', 'year', 'month', 'day', 'weekday', 'hour', "temp_in_celcius"]
X = df[good_columns]
X.index = pd.Index(range(X.shape[0]))
X.head(2)

     temp  is_holiday  year  month  day  weekday  hour  temp_in_celcius
0  288.28       False  2012     10    2        1     9            15.13
1  289.36       False  2012     10    2        1    10            16.21

In [44]:
# Q21 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.TimeSeriesSplit with n_splits=5
from sklearn.model_selection import TimeSeriesSplit
tms = TimeSeriesSplit(n_splits=5)
all_g = tms.split(df)

for _ in range (0,5-1):
    next(all_g)
    
train_index, test_index = next(all_g)
x_train = X.iloc[train_index]
x_test = X.iloc[test_index]
y_train = df.iloc[train_index]['traffic_volume']
y_test = df.iloc[test_index]['traffic_volume']

print('Rows in train:', x_train.shape[0])
print('Rows in test:', x_test.shape[0])

Rows in train: 40159
Rows in test: 8031

In [45]:
# Create a predictive regression model of a traffic volume.

# Q22.1 Use linear regression with l2 regularization (Ridge regression)
# Q22.2 Use decision tree regression
# Q22.3 Use k nearest neighbours regression
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(x_train)

# From lectures, idk

x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

regRidge = Ridge()
regTree = DecisionTreeRegressor()
regKNN = KNeighborsRegressor()

In [46]:
# Use grid search to select optimal hyperparamters of your models. 

from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold

# Q23.1 Alpha for a ridge regression

cv = KFold(n_splits=5)
ridgeGrid = {
    'alpha':np.logspace(-2,5,100)
}
ridgeGs = GridSearchCV(regRidge, param_grid=ridgeGrid, cv=cv)
ridgeGs.fit(x_train, y_train)

# Q23.2 Depth for the tree

treeGrid = {
    'max_depth':range (1,20)
}
treeGs = GridSearchCV(regTree, param_grid=treeGrid, cv=cv)
treeGs.fit(x_train, y_train)

# Q23.3 Number of neighbours for the knn

treeGrid = {
    'n_neighbors':range(3,22,2)
}
knnGs = GridSearchCV(regKNN, param_grid=treeGrid, cv=cv)
knnGs.fit(x_train, y_train)

print(knnGs.best_estimator_.n_neighbors )

3

In [47]:
# Compute train and test mean squared error for your best models (list of float).

from sklearn.metrics import mean_squared_error as mse

# Q24.1 Train, test MSE using linear regression with l2 regularization

ridge_train_mse = mse(y_train, ridgeGs.best_estimator_.predict(x_train))
ridge_test_mse = mse(y_test, ridgeGs.best_estimator_.predict(x_test))

print('ridge train mse =',ridge_train_mse)
print('ridge test mse =',ridge_test_mse)
print('\n')

# Q24.2 Train, test MSE using decision tree regression

tree_train_mse = mse(y_train, treeGs.best_estimator_.predict(x_train))
tree_test_mse = mse(y_test, treeGs.best_estimator_.predict(x_test))

print('tree train mse =',tree_train_mse)
print('tree test mse =',tree_test_mse)
print('\n')

# Q24.3 Train, test MSE using k nearest neighbours regression

knn_train_mse = mse(y_train, knnGs.best_estimator_.predict(x_train))
knn_test_mse = mse(y_test, knnGs.best_estimator_.predict(x_test))

print('knn train mse =',knn_train_mse)
print('knn test mse =',knn_test_mse)

ridge train mse = 3340784.3092063474
ridge test mse = 3295542.2627696022


tree train mse = 237324.02560263654
tree test mse = 281038.1813484397


knn train mse = 104462.44448317937
knn test mse = 344457.9778220507

In [48]:
# Compute train and test R^2 for your best models (list of float).
from sklearn.metrics import r2_score as r2
from scipy.stats import pearsonr

# Q25.1 Train, test R^2 using linear regression with l2 regularization

ridge_train_r2 = r2(y_train, ridgeGs.best_estimator_.predict(x_train))
ridge_test_r2 = r2(y_test, ridgeGs.best_estimator_.predict(x_test))

print('ridge train R^2 =',ridge_train_r2)
print('ridge test R^2 =',ridge_test_r2)
print('\n')

# Q25.2 Train, test R^2 using decision tree regression

tree_train_r2 = r2(y_train, treeGs.best_estimator_.predict(x_train))
tree_test_r2 = r2(y_test, treeGs.best_estimator_.predict(x_test))

print('tree train R^2 =',tree_train_r2)
print('tree test R^2 =',tree_test_r2)
print('\n')

# Q25.3 Train, test R^2 using k nearest neighbours regression

knn_train_r2 = r2(y_train, knnGs.best_estimator_.predict(x_train))
knn_test_r2 = r2(y_test, knnGs.best_estimator_.predict(x_test))

print('knn train R^2 =',tree_train_r2)
print('knn test R^2 =',tree_test_r2)

ridge train R^2 = 0.15674971429102114
ridge test R^2 = 0.15038231412714065


tree train R^2 = 0.9400968353917555
tree test R^2 = 0.9275460636701076


knn train R^2 = 0.9400968353917555
knn test R^2 = 0.9275460636701076

In [49]:
# Q26 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).
features = ridgeGs.best_estimator_.coef_.copy()
maxImportance = np.absolute(features).max()
feаtCoef = {feature : coef for feature, coef in zip(good_columns,np.absolute(features)/maxImportance)}
sortedFeats = sorted(feаtCoef.items(), key=lambda x: x[1], reverse = True)

print('Is_holiday: ', sortedFeats[2][1])
print('Temperature: ', sortedFeats[0][1])
print('Month: ', sortedFeats[4][1])
print('Hour: ', sortedFeats[1][1])
print('Weekday: ', sortedFeats[3][1])

Is_holiday:  0.9891988885766699
Temperature:  1.0
Month:  0.3995846459471136
Hour:  0.9891988885768628
Weekday:  0.6568988336537167